.nav-items{
    display: flex;
    padding: 2px;
}
.nav-items > li{
    padding: 20px;
    list-style: none;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer{
    background-color:rgb(86, 86, 86) ;
    color:#fff;
    padding: 5px;
}